In [1]:
# Don't change this cell; just run it. 

import numpy as np
from datascience import *

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [3]:
#Dataset of differing health conditions of counties in the US 
counties_health = Table.read_table("Counties_Health.csv")
counties_health

FIPS | State | County   | PCT_DIABETES_ADULTS08 | PCT_DIABETES_ADULTS13 | PCT_OBESE_ADULTS08 | PCT_OBESE_ADULTS13 | PCT_HSPA15 | RECFAC09 | RECFAC14 | PCH_RECFAC_09_14 | RECFACPTH09 | RECFACPTH14 | PCH_RECFACPTH_09_14
1001 | AL    | Autauga  | 11.4                  | 13                    | 31.5               | 34.1               | 25.4       | 4        | 5        | 25               | 0.0738894   | 0.0902609   | 22.1568
1003 | AL    | Baldwin  | 9.8                   | 10.4                  | 26.2               | 27.4               | 25.4       | 18       | 25       | 38.8889          | 0.100331    | 0.124931    | 24.5184
1005 | AL    | Barbour  | 13.6                  | 18.4                  | 37.6               | 44.4               | 25.4       | 1        | 0        | -100             | 0.0361572   | 0           | -100
1007 | AL    | Bibb     | 11.1                  | 14.8                  | 32.3               | 40.3               | 25.4       | 1        | 1        | 0                | 0.0435901   | 0.0444326   | 1.93282
1009 | AL    | Blount   | 11.4                  | 14.1                  | 31.9               | 34.6               | 25.4       | 3        | 3        | 0                | 0.0523186   | 0.051976    | -0.654897
1011 | AL    | Bullock  | 14.9                  | 19.6                  | 37.8               | 43                 | 25.4       | 0        | 0        | 0                | 0           | 0           | 0
1013 | AL    | Butler   | 15.1                  | 17.7                  | 36.8               | 36.3               | 25.4       | 0        | 1        | nan              | 0           | 0.0492708   | nan
1015 | AL    | Calhoun  | 14.5                  | 14.9                  | 33.5               | 32.2               | 25.4       | 7        | 7        | 0                | 0.0591401   | 0.0603886   | 2.11101
1017 | AL    | Chambers | 16.1                  | 16.4                  | 35.5               | 39.7               | 25.4       | 2        | 0        | -100             | 0.0581666   | 0           | -100
1019 | AL    | Cherokee | 13.6                  | 13.3                  | 31.5               | 33.6               | 25.4       | 1        | 1        | 0                | 0.0386787   | 0.0384069   | -0.702846
... (3133 rows omitted)

In [4]:
counties_socioeconomic = Table.read_table("Counties_Socioeconomic.csv")
counties_socioeconomic

FIPS | State | County   | PCT_NHWHITE10 | PCT_NHBLACK10 | PCT_HISP10 | PCT_NHASIAN10 | PCT_NHNA10 | PCT_NHPI10 | PCT_65OLDER10 | PCT_18YOUNGER10 | MEDHHINC15 | POVRATE15 | PERPOV10 | CHILDPOVRATE15 | PERCHLDPOV10 | METRO13 | POPLOSS10
1001 | AL    | Autauga  | 77.2462       | 17.5826       | 2.40054    | 0.855766      | 0.397647   | 0.0403145  | 11.9954       | 26.778          | 56580      | 12.7      | 0        | 18.8           | 0            | 1       | 0
1003 | AL    | Baldwin  | 83.5048       | 9.30842       | 4.38482    | 0.735193      | 0.628755   | 0.0433435  | 16.7712       | 22.9874         | 52387      | 12.9      | 0        | 19.6           | 0            | 1       | 0
1005 | AL    | Barbour  | 46.7531       | 46.6912       | 5.05154    | 0.3897        | 0.218524   | 0.0874094  | 14.2368       | 21.907          | 31433      | 32        | 1        | 45.2           | 1            | 0       | 0
1007 | AL    | Bibb     | 75.0207       | 21.9245       | 1.77177    | 0.096007      | 0.279293   | 0.0305477  | 12.6816       | 22.6969         | 40767      | 22.2      | 0        | 29.3           | 1            | 1       | 0
1009 | AL    | Blount   | 88.8873       | 1.26304       | 8.0702     | 0.200621      | 0.497191   | 0.0314016  | 14.7221       | 24.6084         | 50487      | 14.7      | 0        | 22.2           | 0            | 1       | 0
1011 | AL    | Bullock  | 21.9168       | 69.9743       | 7.1193     | 0.183251      | 0.183251   | 0.0366502  | 13.4598       | 22.265          | 28251      | 39.6      | 1        | 51.2           | 1            | 0       | 0
1013 | AL    | Butler   | 54.0602       | 43.19         | 0.911825   | 0.830668      | 0.281663   | 0.0334177  | 16.6563       | 24.1371         | 33868      | 25.8      | 1        | 36             | 1            | 0       | 1
1015 | AL    | Calhoun  | 73.6135       | 20.3901       | 3.28324    | 0.699997      | 0.404817   | 0.0792767  | 14.3288       | 22.8772         | 42091      | 20        | 0        | 30.7           | 0            | 1       | 0
1017 | AL    | Chambers | 58.1412       | 38.5971       | 1.56656    | 0.485167      | 0.166594   | 0.0204589  | 16.6769       | 22.5135         | 35560      | 22.4      | 0        | 34.4           | 1            | 0       | 1
1019 | AL    | Cherokee | 92.0736       | 4.64042       | 1.23129    | 0.188541      | 0.469429   | 0.00384778 | 17.896        | 21.4168         | 39144      | 19.4      | 0        | 30.2           | 0            | 0       | 0
... (3133 rows omitted)